/*************** Reset *********************/
* {
  margin: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/*************** Menu *********************/
header {
  top: 0;
  margin: 0;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: rgba(0, 183, 255, 0.14);
  border-bottom: 2px solid #7f7b82;
  text-align: right;
  font-size: 1.1rem;
  font-family: "Rokkitt", serif;
}

li {
  display: inline;
}

a {
  margin: 10px 5px 10px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
li a {
  text-decoration: none;
}
a:hover {
  color: rgb(83, 83, 83);
}
nav {
  margin: 10px 50px;
}

/*************** første billede med tekst *********************/

.grid_1-1 {
  display: grid;
  place-items: center;
}

.bgbillede {
  filter: blur(8px);
  -webkit-filter: blur(8px);

  padding: 40px;
  margin-bottom: 60px;
}

.bgbillede {
  grid-area: 1 / 1;
}

.bgtext1 {
  grid-area: 1 / 1;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  filter: blur(0);
  -webkit-filter: blur(0);
  width: 80%;
  padding: 20px;
  text-align: center;
  font-family: "Rokkitt", serif;
}
.galleri {
  margin-bottom: 30px;
}

footer {
  text-align: center;
}

iframe {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
}

.stills {
  text-align: center;
  font-family: "Rokkitt", serif;
  color: black;
}

/*************** Font *********************/

h1 {
  font-family: "Rokkitt", serif;
}

h2 {
  font-family: "Rokkitt", serif;
}

h3 {
  font-family: "Rokkitt", serif;
}

p {
  font-family: "Rokkitt", serif;
}

footer {
  font-family: "Rokkitt", serif;
}
